@{
    ViewData["Title"] = "Employees";
}

<div class="text-center">
    <h1 class="display-4">Employees</h1>
</div>

<section>
    <div>Hola q aze</div>
</section>


<script src="~/js/views/employees/index.js" asp-append-version="true"></script>